body {
    width: 100%;
    min-height: 100vh;
    background: var(--clr-400) url(../media/fondo_queso.jpg);
    background-size: cover;
}

.container {
    background-color: var(--clr-100);
    width: 100%;
    height: min(70%, 40em);

    border-top-right-radius: 1.25em;
    border-top-left-radius: 1.25em;

    text-align: center;

    position: absolute;
    bottom: 0;
    padding: 2em 1em;

    justify-content: space-around;
    align-items: center;
}

h1 {
    margin: 2em 0;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btns > * + * {
    margin-top: 1em;
}